---
import { getCollection } from 'astro:content';
import Main from '@layouts/Main.astro';
import Card from '@components/Card.astro';
import Hr from '@components/Hr.astro';
import LinkButton from '@components/LinkButton.astro';
import getSortedPosts from '@utils/getSortedPosts';
import { SITE, SOCIALS } from '@config';

const posts = await getCollection('blog');
const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.slice(0, 4);
---

<Main
	title={SITE.title}
	description={SITE.desc}
>
	<section id="hero" class="pb-6 pt-8">
		<h1 class="my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
			{SITE.title}
		</h1>
		<a
			target="_blank"
			href="/rss.xml"
			class="mb-6 ml-4 inline-block"
			aria-label="rss feed"
			title="RSS Feed"
		>
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 scale-110 fill-skin-accent sm:scale-125">
				<path d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248S0 22.546 0 20.752s1.456-3.248 3.252-3.248 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"/>
			</svg>
		</a>

		<p class="my-2">
			{SITE.desc}
		</p>
		{
			// only display if at least one social link is enabled
			SOCIALS && SOCIALS.length > 0 && (
				<div class="social-wrapper">
					<div class="social-links">Links:</div>
					<LinkButton
						href="/search/"
						className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
					>
						Search
					</LinkButton>
					{SOCIALS.map(social => (
						social.active && (
							<LinkButton
								href={social.href}
								className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
								ariaLabel={social.name}
							>
								{social.name}
							</LinkButton>
						)
					))}
				</div>
			)
		}
	</section>

	<Hr />

	{
		featuredPosts.length > 0 && (
			<>
				<section id="featured">
					<h2 class="text-2xl font-bold tracking-wide">Featured</h2>
					<ul>
						{featuredPosts.map(({ data, id }) => (
							<Card
								href={`/posts/${id}/`}
								frontmatter={data}
								secHeading={false}
							/>
						))}
					</ul>
				</section>
				<Hr />
			</>
		)
	}

	<section id="recent-posts">
		<h2 class="text-2xl font-bold tracking-wide">Recent Posts</h2>
		<ul>
			{recentPosts.map(({ data, id }) => (
				<Card
					href={`/posts/${id}/`}
					frontmatter={data}
					secHeading={false}
				/>
			))}
		</ul>
	</section>

	<div class="all-posts-btn-wrapper">
		<LinkButton href="/posts/">
			All Posts
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
				<path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586l-4.293 4.293Z"></path>
			</svg>
		</LinkButton>
	</div>
</Main>

<style>
  /* Hero */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-wrap gap-x-2 gap-y-1;
  }
  .social-links {
    @apply mr-2 whitespace-nowrap sm:mr-4;
  }

  /* Featured */
  #featured,
  #recent-posts {
    @apply pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-bold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
